$small-range-min: 0;
$small-range-max: 690px;
$medium-range-min: 691px;
$medium-range-max: 1023px;
$large-range-min: 1024px;
$large-range-max: 1348px;
$xlarge-range-min: 1349px;
$xlarge-range-max: 9999999px;

// Ads custom breakpoints
$banner-range-min: 320px;
$banner-range-max: 727px;
$leaderboard-range-min: 728px;
$leaderboard-range-max: 1023px;
$billboard-range-min: 1030px;
$billboard-range-max: 9999999px;

// Left-hand rail breakpoints
//   LHR width: 390px
//   Article padding: 30px
$rail-banner-range-min: 1024px; // ($large-range-min)
$rail-banner-range-max: 1147px; // ($rail-leaderboard-range-min) - 1
$rail-leaderboard-range-min: 1148px; // (LHR width) + (Article padding) + ($leaderboard-range-min)
$rail-leaderboard-range-max: 1413px; // (LHR width) + ($leaderboard-range-max)
