@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/ProximaNova-Regular.eot');
    src: url('/assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('/assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('/assets/fonts/ProximaNova-Regular.svg#amsipronarw-thinuploaded_file') format('svg');
    font-style: normal;
}

$questrial: unquote('Questrial');
$muli: unquote('Muli');
$spectral: unquote('Spectral');

@import url('https://fonts.googleapis.com/css?family=#{$questrial}'); // sass-lint:disable-line no-url-protocols
@import url('https://fonts.googleapis.com/css?family=#{$muli}:400,600,800'); // sass-lint:disable-line no-url-protocols
@import url('https://fonts.googleapis.com/css?family=#{$spectral}:500,600'); // sass-lint:disable-line no-url-protocols

@font-face {
    font-family: 'icomoon';
    src: url('/assets/fonts/icomoon.eot?vej2zt');
    src: url('/assets/fonts/icomoon.eot?vej2zt#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?vej2zt') format('truetype'),
    url('/assets/fonts/icomoon.woff?vej2zt') format('woff'),
    url('/assets/fonts/icomoon.svg?vej2zt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-logo:before {
    content: "\e900";
  }


// ---------------------------------------------------- font families
// Typekit Font Stack (Kit ID: mmp8xzm)
// https://typekit.com/account/kits?search=homes+to+love
//
$font-family-sans-serif-primary: 'Muli', sans-serif;
$font-family-sans-serif-secondary: 'Questrial', sans-serif;
$font-family-serif-primary: 'Spectral', serif;
$font-family-serif-secondary: 'bree-serif', serif;

$small-text-font: 'Proxima Nova', sans-serif;
$small-text-light-font: 'Proxima Nova light', sans-serif;

// ---------------------------------------------------- base elements

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    color: $color-grey-light;
    font-family: $font-family-serif-primary;
    font-size: 100%; //16px
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: $color-primary;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $color-primary-light;
    }
}

// ---------------------------------------------------- typography mixins & classes

@mixin type-header {
    color: $color-grey-darker;
    font: 500 14px/1.4 $font-family-sans-serif-primary;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.type-header {
    @include type-header;
}

@mixin type-side-menu-link {
    color: $color-white;
    font: 500 20px/1.5 $font-family-sans-serif-primary;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.type-side-menu-link {
    @include type-side-menu-link;
}

// Article
@mixin type-article-title {
    color: $color-black;
    font: 400 22px/1.35 $font-family-serif-primary;
    letter-spacing: -.005em;

    @media #{$medium-up} {
        font-size: 46px;
        line-height: 1.29;
    }

    @media #{$xlarge-up} {
        font-size: 32px;
        letter-spacing: -.01em;
    }
}

.type-article-title {
    @include type-article-title;
}

@mixin type-article-summary {
    color: $color-black;
    font: 400 16px/1.875 $font-family-serif-primary;
    letter-spacing: .01em;

    @media #{$medium-up} {
        font-size: 20px;
        line-height: 1.9;
    }
}

.type-article-summary {
    @include type-article-summary;
}

@mixin type-article-body {
    color: $color-black-origin;
    font: 400 16px/1.875 $font-family-sans-serif-primary;
    letter-spacing: .01em;
}

.type-article-body {
    @include type-article-body;
}

@mixin type-article-heading {
    color: $color-black-origin;
    font: 500 20px/1.5 $font-family-sans-serif-primary;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.type-article-heading {
    @include type-article-heading;
}

@mixin type-article-quote {
    color: $color-black;
    font: italic 400 26px/1.731 $font-family-serif-primary;
    letter-spacing: .01em;

    @media #{$xlarge-up} {
        font-size: 36px;
        line-height: 1.667;
    }
}

.type-article-quote {
    @include type-article-quote;
}

@mixin type-renovation-status {
    color: $color-primary;
    font: 500 15px/1.467 $font-family-sans-serif-primary;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.type-renovation-status {
    @include type-renovation-status;
}

// Inline gallery
@mixin type-inline-gallery-header {
    color: $color-white;
    font: 500 15px/1.467 $font-family-sans-serif-primary;
    letter-spacing: .04em;
    text-transform: uppercase;

    @media #{$medium-only} {
        font-size: 20px;
        line-height: 1.5;
    }

    @media #{$xlarge-up} {
        font-size: 20px;
        line-height: 1.5;
    }
}

.type-inline-gallery-header {
    @include type-inline-gallery-header;
}

@mixin type-inline-gallery-title {
    color: $color-primary;
    font: 400 15px/1.2 $font-family-serif-secondary;
    letter-spacing: .01em;
    text-transform: uppercase;

    @media #{$medium-only} {
        font-size: 20px;
    }

    @media #{$xlarge-up} {
        font-size: 20px;
    }
}

.type-inline-gallery-title {
    @include type-inline-gallery-title;
}

@mixin type-gallery-header {
    color: $color-black;
    font: 500 17px/1.765 $font-family-serif-primary;

    @media #{$xlarge-up} {
        font-size: 20px;
        line-height: 1.5;
    }
}

.type-gallery-header {
    @include type-gallery-header;
}

// Tags
@mixin type-tags($color: $color-grey-dark) {
    color: $color;
    font: 500 11px/1.5 $font-family-sans-serif-primary;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.type-tags {
    @include type-tags;
}

// Default teaser (e.g homepage teasers below hero)
@mixin type-teaser-title {
    color: $color-black-origin;
    font: 700 18px/1.700 $font-family-serif-primary;
    text-align: left;
}

// Used where 2 colums of teasers
@mixin type-stacked-teaser-title {
    color: $color-black-origin;
    font: 700 18px/1.39 $font-family-serif-primary;
    text-align: left;
}

.type-stacked-teaser-title {
    @include type-stacked-teaser-title;
}


.type-teaser-title {
    @include type-teaser-title;
}

// Used where 2 colums of teasers
@mixin type-stacked-small-teaser-title {
    color: $color-black-origin;
    font: 700 18px/1.39 $font-family-serif-primary;
    text-align: left;
}

// Small teaser (e.g. homepage next to hero)
@mixin type-small-teaser-title {
    color: $color-black-origin;
    font: 700 25px/1.2 $font-family-serif-primary;
    text-align: left;
}

@mixin type-brand-small-teaser-title {
    color: $color-black-origin;
    font: 700 20px/1.2 $font-family-serif-primary;
    text-align: left;
}

.type-brand-small-teaser-title {
    @include type-brand-small-teaser-title;
}

.type-stacked-small-teaser-title {
    @include type-stacked-small-teaser-title;
}

.type-small-teaser-title {
    @include type-small-teaser-title;
}

// XSmall teaser (e.g. article page left hand side rail)
@mixin type-xsmall-teaser-title {
    color: $color-black;
    font: 700 18px/1.444 $font-family-serif-primary;
    text-align: left;
}

// lipstick teaser list item with with background
@mixin type-xsmall-white-teaser-title {
    color: $color-black-origin;
    font: 700 18px/1.39 $font-family-serif-primary;
    max-width: 298px;
    text-align: left;
}

.type-xsmall-teaser-title {
    @include type-xsmall-teaser-title;
}

@mixin type-teaser-summary {
    color: $color-grey;
    font: 400 italic 14px/1.714 $font-family-sans-serif-primary;
}

.type-teaser-summary {
    @include type-teaser-summary;
}

@mixin type-hero-img-top-teaser-title {
    color: $color-black-origin;
    font: 400 18px/1.571 $font-family-serif-primary;
}

.type-hero-img-top-teaser-title {
    @include type-hero-img-top-teaser-title;
}

@mixin type-hero-img-top-medium-teaser-title {
    color: $color-black-origin;
    font: 400 20px/1.571 $font-family-serif-primary;
}

.type-hero-img-top-medium-teaser-title {
    @include type-hero-img-top-medium-teaser-title;
}

@mixin type-teaser-img-top-medium-teaser-title {
    color: $color-black-origin;
    font: 700 20px/1.47 $font-family-serif-primary;
    margin-bottom: 20px;
}

.type-teaser-img-top-medium-teaser-title {
    @include type-teaser-img-top-medium-teaser-title;
}

// Hero (e.g. on homepage)
@mixin type-hero-title {
    color: $color-black-origin;
    font: 400 22px/1.545 $font-family-serif-primary;

    @media #{$medium-up} {
        font-size: 24px;
    }

    @media #{$xlarge-up} {
        font-size: 36px;
        letter-spacing: -.01em;
        line-height: 1.5;
        margin-bottom: 15px;
    }
}

.type-hero-title {
    @include type-hero-title;
}

@mixin type-hero-summary {
    color: $color-grey;
    font: 400 14px/1.714 $font-family-sans-serif-secondary;

    @media #{$large-up} {
        font-size: 17px;
        line-height: 1.565;
    }
}

.type-hero-summary {
    @include type-hero-summary;
}

// Navigation
@mixin type-navigation {
    color: $color-grey-darker;
    font: 500 15px/1.467 $font-family-sans-serif-primary;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.type-navigation {
    @include type-navigation;
}

@mixin type-section-heading {
    font: 600 36px/.889 $font-family-serif-primary;
    color: $color-black-origin;
    letter-spacing: -0.8px;
    text-align: center;

    @media #{$medium-up} {
        font-size: 48px;

        b,
        .bold {
            font-size: 52px;
        }
    }

    @media #{$large-up} {
        font-size: 60px;

        b,
        .bold {
            font-size: 64px;
        }
    }
}

.type-section-heading {
    @include type-section-heading;
}

@mixin type-underlined($border-color: $color-section-separator, $border-size: 2px) {
    text-align: center;

    &:after {
        border-bottom: $border-size solid $border-color;
        content: '';
        display: inline-block;
        position: relative;
        top: -30px;
        width: 100%;
    }
}

.type-underlined {
    @include type-underlined;
}

@mixin type-network-info {
    color: $color-grey-light;
    font-family: $font-family-sans-serif-primary;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .06em;
    text-transform: uppercase;

    @media #{$medium-up} {
        font-weight: 500;
        margin-bottom: -10px;
    }
}

.type-network-info {
    @include type-network-info;
}

@mixin type-magshop-heading {
    color: $color-white;
    font-family: $font-family-sans-serif-primary;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .05em;
    text-transform: uppercase;

    @media #{$medium-up} {
        font-size: 24px;
    }
}

.type-magshop-heading {
    @include type-magshop-heading;
}

.black-bg {
    background-color: $color-black;
}

@mixin type-magshop-content() {
    color: $color-grey-light;
    font-family: $font-family-sans-serif-secondary;
    font-size: 14px;
    font-style: italic;
    letter-spacing: .021em;
    line-height: 24px;
}

.type-magshop-content {
    @include type-magshop-content;
}

// Error page
@mixin type-error-page {
    color: $color-black-origin;
    font: 600 14px/2 $font-family-serif-primary;

    @media #{$medium-up} {
        font-size: 18px;
    }

    @media #{$large-up} {
        font-size: 22px;
    }
}

.type-error-page {
    @include type-error-page;
}

@mixin type-article-header-summary {
    font-family: $font-family-sans-serif-primary;
    font-weight: 400;
    color: $color-black-origin;
}

@mixin type-footer-column-heading {
    color: $color-dark-green;
    font: 600 17px/25px $font-family-sans-serif-primary;
    text-transform: uppercase;

    @media #{$large-up} {
        font-size: 18px;
        line-height: 25px;
    }
}

@mixin type-listing-footer-column-heading {
    color: $color-grey-darker;
    font: 600 17px/25px $font-family-sans-serif-primary;
    text-transform: uppercase;

    @media #{$large-up} {
        font-size: 18px;
        line-height: 25px;
    }
}

@mixin type-footer-link {
    color: $color-dark-green;
    font: 400 12px/16px $font-family-sans-serif-secondary;
    display: block;

    @media #{$large-up} {
        font-size: 13px;
    }
}
@mixin type-listing-footer-link {
    color: $color-grey-darker;
    font: 400 12px/16px $font-family-sans-serif-secondary;
    display: block;

    @media #{$large-up} {
        font-size: 13px;
    }
}

@mixin type-footer-text {
    color: $color-dark-green;
    font: 400 12px/16px $font-family-sans-serif-secondary;
    display: block;

    @media #{$large-up} {
        font-size: 14px;
    }
}

@mixin type-newsletter-and-social-headers {
    color: $color-dark-green;
    font: 600 18px/1.545 $font-family-sans-serif-secondary;
    letter-spacing: .04em;
    text-transform: uppercase;
}

// ---------------------------------------------------- reset mixins

@mixin reset-list {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}
