.site-wrapper {
    max-width: $large-range-min;
    margin: 0 auto;
    z-index: $z-index-0;

    .ad--wallpaper-wrapper {
        left: calc((100% - 1920px) / 2);
        width: 100%;
        z-index: $z-index-minus-1;
        position: fixed;
    }

    @media #{$medium-up} {
        &-top-leaderboard {
            &-90 .ad--wallpaper-wrapper {
                position: absolute;
                top: $ad-wallpaper-top-unpinned-90;
            }
            &-90-with-page-title .ad--wallpaper-wrapper {
                position: absolute;
                top: $ad-wallpaper-top-unpinned-90-with-page-title;
            }
            &-250 .ad--wallpaper-wrapper {
                position: absolute;
                top: $ad-wallpaper-top-unpinned-250;
            }
            &-250-with-page-title .ad--wallpaper-wrapper {
                position: absolute;
                top: $ad-wallpaper-top-unpinned-250-with-page-title;
            }
        }

        &-pinned .ad--wallpaper-wrapper {
            position: fixed;
            top: $header-menu-height-desktop;
        }
    }

    @media only screen and (min-width: 1940px) {
        &-pinned .ad--wallpaper-wrapper {
            left: 0;
            top: 221px;
        }
    }
}

.ad--section-top-leaderboard {
    @media #{$medium-up} {
        position: relative;
        z-index: $z-index-1;
    }

    @media #{$large-up} {
        max-width: $large-range-min;
    }
}
