.brand-switcher {
    $root: &;

   &__list {
       display: flex;
       justify-content: space-between;
    }

    &__list-item {
        display: block;
        flex: 0 0 auto;
   }

   &__img {
       height: 40px;
   }

   &--inside-modal {
       padding: 30px;

        @media #{$medium-up} {
            padding: 0;
        }

       #{$root}__list {
            @include reset-list;
            flex-wrap: nowrap;
            flex-direction: column;


            @media #{$medium-up} {
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-start;
            }
       }

       #{$root}__list-item {
           display: flex;
           justify-content: center;
           margin: 15px;

           @media #{$medium-up} {
             flex: 0 0 33.333333333333%;
             margin: 60px 0;
           }
       }

       #{$root}__img {
        height: 30px;

        @media #{$medium-up} {
           height: 40px;
          }
       }
   }

    &--in-latest-content-section {
        #{$root}__list {
            padding: 20px;
            @media #{$medium-up} {
                padding: 20px 100px;
            }
        }

        #{$root}__list-item {
            width: 80px;
            filter: grayscale(100%);

            @media #{$large-up} {
                width: 100px;
            }

            &:nth-child(n+4) {
                display: none;
                @media #{$medium-up} {
                    display: block;
                }
            }
        }

        #{$root}__list-item--is-selected {
            filter: grayscale(0%);
        }
    }
}
