.repeatable-component {
    margin-top: 40px;

    @media #{$large-up} {
        margin-top: 60px;
    }

    .load-more {
        @include grid-column(12);
        text-align: center;
        margin-bottom: 40px;

        .button {
            @extend .button--load-more;
        }
    }

    .pagination {
        display: none;
    }
}

.no-js {
    .load-more {
        display: none;
    }

    .pagination {
        @include grid-column(12);
        display: inherit;
        text-align: center;

        .button {
            margin-left: 10px;
        }
    }
}
