// Base button styles

$button-color-border: #e5e5e5;

.button,
.native-hub__button {
    background: $color-primary;
    border: none;
    border-radius: 6px;
    color: $color-white;
    display: inline-block;
    font: 500 13px $font-family-sans-serif-primary;
    letter-spacing: .04em;
    min-height: 42px;
    padding: 0 15px;
    text-transform: uppercase;

    @media #{$large-up} {
        padding-left: 20px;
        padding-right: 20px;
    }

    &:hover,
    &:focus {
        opacity: .7;
        color: $color-white;
        outline: none;
    }

    &:active,
    &.active {
        opacity: .7;

        .down-arrow svg {
            fill: $color-white;
        }
    }

    &:disabled {
        color: $color-grey-light;

        &:hover,
        &:focus {
            border-color: $button-color-border;
        }
    }

    &--category {

        .icon-arrow {
            display: inline-block;
            fill: $color-primary;
            margin-left: 10px;
            position: relative;
            top: 1px;
        }

        .arrow {
            width: 10px;
        }

        &:active,
        &.active {
            .icon-arrow {
                fill: $color-white;
            }
        }

        &.active {
            .icon-arrow {
                top: -1px;
                transform: rotate(180deg);
            }
        }

        @media #{$large-up} {
            .icon-arrow {
                top: 0;
            }

            .arrow {
                width: 12px;
            }

            &.active {
                .icon-arrow {
                    top: -2px;
                }
            }
        }
    }

    &--load-more {
        display: block;
        margin: 0 auto 30px;
        border-radius: 0;

        @media #{$medium-up} {
            margin-bottom: 60px;
        }
    }

    &--without-border-radius {
        border-radius: 0;
    }

    &--link {
        padding-top: 12px;
    }

    &--subscribe {
        background-color: $color-primary;
        border-color: $color-primary;
        color: $color-white;
        font-size: 15px;
        min-height: 55px;
        padding-left: 20px;
        padding-right: 20px;
        transition: background $transition-duration ease-in-out, border-color $transition-duration ease-in-out;

        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: $color-primary-light;
            border-color: $color-primary-light;
            color: $color-white;
        }
    }
}

@mixin flat-button {
    border: 0;
    padding: 0;
    background-color: transparent;

    &:active,
    &:focus {
        outline: none;
    }
}
