.error-page {
    @include grid-row;

    padding: {
        bottom: 120px;
        top: 180px;
    }

    @media #{$medium-up} {
        padding: {
            bottom: 200px;
            top: 300px
        }
    }

    &__title,
    &__body-item,
    &__footer {
        @include grid-column(12);
        text-align: center;
    }

    &__title,
    &__body-item {
        @include type-error-page;
    }

    &__footer {
        margin-top: 30px;
        font-family: $font-family-sans-serif-primary;
        color: $color-primary;

        @media #{$small-only} {
            font-size: 14px;
        }
    }
}
