.article-section {
    max-width: $standard-page-width;
    width: 100%;
    background: $color-white;

    @media #{$medium-up} {
        margin-top: 7px;
        padding-top: 0px;
        margin-bottom: 75px;
    }

    .feed {
        float: left;
        margin: 0 0 0 30px;

        .feed-item {
            max-width: 300px;

            .teaser__image {

                @media #{$medium-up} {

                    img {
                        border-radius: $teaser-image-border-radius;
                    }
                }
            }

            &__body-source {
                margin-top: -5px;
            }

            &.polar {

                &-horizontal,
                &-verticle {

                    img {
                        position: absolute;
                        max-height: none;
                        max-width: none;
                    }
                }

                &-horizontal {
                    img {
                        position: absolute;
                        height: 100%;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        width: initial;
                    }
                }

            }
        }

        &-carousel-content {
            h2 {
                width: 50%;
            }
            .feed-item {

                &__body {
                    padding-left: 0px;
                    padding-top: 5px;
                }
            }

        }

        .polar-feed-item {
            background-color: #fff;
            border: 1px solid transparent;
            border-top-color: #ddd;
            list-style: none;
            padding: 20px 0 20px 0;
            width: 325px;

            .teaser__image {
                overflow: hidden;
            }

            .feed-item {

                &__body {
                    margin-top: -12px;

                    &-source {
                        color: $color-grey-light;
                        display: inline-block;
                        font-size: 10px;
                        line-height: 12px;
                        text-transform: uppercase;
                        font-family: 'brandon-grotesque', sans-serif;
                    }

                }
            }

        }
    }

    .article {
        @include type-article-body();

        width: 100%;
        padding: 0;

        @media #{$large-up} {
            max-width: 600px;
            padding: 0 30px 0 0;
            margin: 21px 0 0;
        }

        .gallery {
            &__caption {
                p {
                    color: $color-black-origin;
                }
            }
        }

        &__header {
            text-align: center;
            line-height: 15px;

            .article {

                &__main-hero-image {
                    margin: 0 0 $standard-content-body-spacing 0;
                }

                &-header-source {
                    margin: $standard-content-body-spacing 0;

                    img {
                        height: 25px;

                        @media #{medium-up} {
                            height: 35px;
                        }
                    }
                }

                &__title {
                    padding: 0 15px;
                    margin: $standard-content-body-spacing auto;
                    color: $color-black-origin;

                    @media #{$medium-up} {
                        padding: 0;
                        font-size: 28px;
                    }
                }

                &_image-caption {
                    display: none;
                    visibility: hidden;
                }

                &__summary {
                    @include type-article-header-summary;
                }
            }

        }

        .content-body {
            width: 100%;

            &-container {
                &:before {
                    display: none;
                    visibility: hidden;
                }
            }

            &__heading {
                width: 100%;

                h2 {
                    margin: $standard-content-body-spacing 0;
                    padding: 0 15px;

                    @media #{$large-up} {
                        padding: 0;
                    }
                }
            }

            &__list {
                margin: $standard-content-body-spacing 0 $standard-content-body-spacing 35px;
            }

            ul, ol {
                padding: 0;
            }

            h2 {
                padding-left: 15px;

                @media #{$medium-up} {
                    padding: 0;
                }
            }

            a {
                color: $color-primary; // TODO clean up themes from server package
            }

            &__embed {

                &-video {
                    margin: $standard-content-body-spacing 0;
                }

                &--twitter {
                    margin: $standard-content-body-spacing auto;
                }

            }

            &__inline-image {
                padding: 0;
                margin: $standard-content-body-spacing 0;
                width: 100%;

                &-caption {
                    background: #222;
                    text-align: left;
                    padding: 15px 20px;
                    font-weight: 400;
                    font-style: normal;
                    font-family: $font-family-sans-serif-primary;
                }
            }

            &__inline-image-credit {
                font-style: italic;
            }

            &__paragraph {
                margin: $standard-content-body-spacing 0;
                padding:0 15px;
                color: $color-black-origin;

                @media #{$large-up} {
                    padding: 0;
                }

            }

            &__tips {
                width: 100%;
                margin: $standard-content-body-spacing auto;
                border-color: $color-primary;

                .tips {
                    width: 100%;
                }
            }

            &__gallery {
                &-link {
                    margin-top: 20px;
                }

                &-link-caption {
                    background-color: rgba(0,0,0,0.85);
                }

                &-link-category {
                    border: none;
                    margin: 0;
                    padding: 0;

                    &:after {
                        display: none;
                    }
                }

                &-link-count {
                    display: none;
                }

                &-link-title {
                    font-family: 'brandon-grotesque-medium', sans-serif;
                    color: $color-white;
                    font-size: 11px;
                }
            }

            &__related-content {
                background: none;
                position: relative;
                width: 100%;
                margin: 30px 0 20px 0;
                padding: 35px 25px 20px;

                @media #{$medium-up} {
                    background-size: auto;
                    padding: 40px 50px;
                    margin: $standard-content-body-spacing 0;
                }

                @media #{$large-up} {
                    padding: {
                        bottom: 45px;
                        left: 30px;
                        right: 30px;
                    };
                }

                .pb_feed {
                    .pb-powered-by {
                        margin: 0 10px;
                    }
                }

                .related-content {
                    &-wrapper {
                        padding-top: 5px;

                        @media #{$small-only} {
                            margin: 0 $column-gutter/4;
                        }

                        @media #{$medium-up} {
                            padding-top: 20px;
                            width: 100%;
                        }
                    }

                    &__heading {
                        background: none;
                        letter-spacing: .1em;
                        position: static;
                        text-align: center;
                        text-indent: 0;
                        z-index: 1;
                        background: #FFF;
                        width: 120px;
                        margin: 0 auto;
                        font-size: 20px;
                        margin-top: -57px;
                        color: $oil;
                        text-transform: uppercase;
                    }
                }

                .polar-feed-item {
                    a.teaser__image {
                        height: 0 !important;
                        padding-bottom: 56.5%;
                        overflow: hidden;
                        width: initial;
                    }

                    img {
                        top: 0;
                        right: 0;
                    }
                }

                .feed-item {
                    @include grid-column(6);
                    background-color: transparent;
                    margin-bottom: 0;

                    @media #{$small-only} {
                        padding: {
                            left: $column-gutter/4;
                            right: $column-gutter/4;
                        };
                    }

                    .teaser {
                        &__image {
                            background-color: $color-white;
                            display: block;
                            height: auto;
                            width: 100%;

                            img {
                                border-radius: $teaser-image-border-radius;
                            }
                        }
                    }

                    &__body-source {
                        margin-top: 16px;
                        text-align: center;
                        display: none;
                    }

                    &__source {
                        display:none;
                    }

                    &__body {
                        padding: 0 15px;
                    }

                }

                .feed-item__body-title {
                    margin-top: 12px;
                    text-decoration: none;
                    text-align: center;

                    &:hover {
                        text-decoration: none;
                    }

                    @media #{$medium-up} {
                        margin-top: 20px;
                    }
                }
            }

        }

        &__main-hero-video {
            .video-playlist-wrapper {
                display: none;
                visibility: hidden;
            }
        }

        &--right-aligned {
            @media #{$medium-up} {
                margin-top: 30px;
            }
        }

        &__summary {
            @include type-article-summary();
            margin: $standard-content-body-spacing auto;
            padding: 0 15px;
            font-size: 14px;
            letter-spacing: normal;

            @media #{$medium-up} {
                padding: 0;
                display: block;
                font-size: 16px;
            }
        }

        &__header {
            .article {
                &__date-created,
                &-header-author,
                &__image-count {
                    font: normal 11px/15px $font-family-sans-serif-primary;
                    text-transform: uppercase;
                    letter-spacing: 0.025em;
                    color: $color-grey-light;
                    display: inline-block;
                }

                &__date-created {
                    margin-right: 7px;
                    margin-bottom: 30px;
                }
                &-header-author {
                    margin-right: 7px;
                }
            }
        }

        &__hero-container {
            noscript img {
                position: absolute;
            }
        }

        &__title {
            margin-top: 5px;
            margin-bottom: 20px;
            line-height: 1.4;
        }

        &__footer {
            .article__source {
                display: none;
                visibility: hidden;
            }
        }

        .article-header-source--bottom {
            display:none;
        }

        .recommendations {
            display: none;
        }

        .content-body__vi-player {
            margin-bottom: 21px;
        }

        footer {
            padding: 0 15px;
            margin: $standard-content-body-spacing 0;

            @media #{$large-up} {
                padding: 0;
            }

        }

        &__tags {
            margin-bottom: 5px;

            .related-tags {

                a {
                    color: $color-primary;
                }
            }
        }
    }
}

.site-wrapper {
    .content-wrapper {
        background: $color-white;
        box-shadow: 0 1px 0 0 $color-white;
    }
}

// Overriding the padding here for ALL ads.
.feed-ad {
    padding-bottom: 20px;
}
