.mobile-menu {

  &__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
  }

  .nav-item {
    @include type-side-menu-link;
    display: block;
    margin-bottom: 13px;

    &:hover {
        color: $color-primary;
    }

    &--active {
      color: $color-primary;
    }

    &:focus {        
      color: $color-primary;
    }
  }
}
