.listing {
    max-width: 100%;
    margin: 0 auto;
    padding-top: $directory-combined-header-height-mobile;

    @media #{$medium-up} {
        padding-top: $directory-combined-header-height-desktop + $spacing-4 + 2;
    }
}
