.ad {
    $label-text-height: 5px;

    $label-small-height: 12px;
    $label-small-pad: $label-small-height - $label-text-height;
    $label-small-line-height: $label-small-height + $label-small-pad;

    $label-medium-height: 15px;
    $label-medium-pad: $label-medium-height - $label-text-height;
    $label-medium-line-height: $label-medium-height + $label-medium-pad;

    $small-ad-padding: 10px;

    text-align: center;

    &--content-body {
        padding-top: 20px;
    }

    &--top-label,
    &--bottom-label {
        display: table;
        width: 100%;

        .content-body & {
            @media #{$medium-up} {
                width: auto;
            }
        }

        .ad__label {
            line-height: $label-small-line-height;

            @media #{$medium-up} {
                line-height: $label-medium-line-height;
            }
        }
    }

    &--top-label {
        .ad__label {
            display: table-header-group;
        }

        > div {
            display: inline-block;
            margin: 0 auto;
        }
    }

    &--bottom-label {
        .ad__label {
            display: table-header-group;
        }

        > div {
            display: inline-block;
            margin: 0 auto;
        }
    }
    &--top-label,
    &--bottom-label {
        >div {
            font-size: 0;
            line-height: 0;
        }
    }

    &__label {
        color: $color-grey-light;
        font-family: $font-family-sans-serif-primary;
        font-size: 11px;
        width: 100%;
    }

    // Article

    @mixin grey-mobile-banner() {
        margin: {
            bottom: 21px;
            left: -($column-gutter/2);
        }
        padding: {
            bottom: 0;
            top: $small-ad-padding;
        }
        position: relative;
        width: calc(100% + #{$column-gutter});
    }

    &--beneath-short-teaser {
        @include grey-mobile-banner();
    }

    &--article-beneath-recommendations {
        @media #{$small-only} {
            @include grey-mobile-banner();
        }
    }

    // Section
    &--section-top-leaderboard {
        margin-bottom: $column-gutter;

        @media #{$medium-only} {
            margin: 20px auto;
        }

        @media #{$small-only} {
            @include grey-mobile-banner();
            margin-bottom: 10px;
        }
    }

    &--section-middle-leaderboard,
    &--section-bottom-leaderboard {
        @media #{$small-only} {
            @include grey-mobile-banner();
            margin-bottom: 0;
        }
    }

    &--section-middle-leaderboard {
        @media #{$small-only} {
            margin-top: 10px;
        }
    }

    &--section-mrec {
        margin-bottom: $column-gutter;

        @media #{$xlarge-up} {
            margin-bottom: $column-gutter * 2;
        }
    }

    &--article-native {
        margin: {
            bottom: 0;
            left: -($column-gutter/2);
            top: 15px;
        }
        position: relative;
        width: calc(100% + #{$column-gutter});

        @media #{$medium-up} {
            margin: {
                bottom: 7px;
                left: auto;
                top: 28px;
            }
            position: static;
            width: 100%;
        }
    }

    &.ad--slot-teads {
        display: block;
    }
}

.site-wrapper .sticky-block {

    &.rhs-ads {
        min-height: 550px;
    }

    @media #{$small-only} {
        bottom: -80px;

        &--out-of-view:not(.sticky-block--at-top) {
            background: #FFF;
            border-top: 1px solid #ddd;
            position: fixed;
            transition: bottom 450ms;
            width: 100%;
            z-index: $z-index-11;
            height: 50px;

            .ad {
                padding-top: 0;
                margin-bottom: 0;
            }
        }

        &--at-bottom {
            bottom: 0;
        }

        &--in-view {
            bottom: 0;
            position: static;
            padding-bottom: 20px;
        }
    }

    @media #{$medium-only} { 
        bottom: -130px;

        &--out-of-view:not(.sticky-block--at-top) {
            background: #FFF;
            border-top: 1px solid #ddd;
            position: fixed;
            transition: bottom 450ms;
            width: 100%;
            z-index: $z-index-11;
            height: 130px;

            .ad {
                margin-top: 20px;
            }
        }

        &--at-bottom {
            bottom: 0;
        }

        &--in-view {
            bottom: 0;
            position: static;
            padding-bottom: 20px;
        }
    }
};

.sticky-block {
    &.sticky-block--at-top {
        background: rgba(255,255,255,.8);
        top: 0;
        position: fixed;
        z-index: 9999;
        width: 100%;
        left: 0;
        .ad {
            max-width: initial;
        }
        @media #{$small-only} {
            border-bottom: 1px solid #ddd;
            background-color: #fff;
            .ad { 
                padding-top: 0;
                margin-bottom: 0;
            }
        }
        @media #{$medium-up} {
            .ad {
                margin-top: 30px;
            } 
        }
    }
}

// Overriding ALL ad labels.
.ad__label {
    display: none!important;
}
