@import './helpers/breakpoints';
@import './helpers/colors';

// Grid
$row-width: 1590px;
$column-gutter: 30px;
$include-xl-html-grid-classes: true;

// Breakpoint ranges
$small-range: ($small-range-min, $small-range-max);
$medium-range: ($medium-range-min, $medium-range-max);
$large-range: ($large-range-min, $large-range-max);
$xlarge-range: ($xlarge-range-min, $xlarge-range-max);

// Base
$body-bg-color: #fff;
$standard-page-width: 1024px;

// Article settings
$article-feed-container-width: 325px;
$content-body-xlarge-width: 494px;
$content-body-large-width: 83.33333%;
$content-body-medium-width: 75%;
$content-body-small-width: 100%;

$content-expanded-xlarge-width: 494px;
$content-expanded-large-width: 83.33333%;
$content-expanded-medium-width: 88%;
$content-expanded-small-width: 100%;

//content-body-settings
$standard-content-body-spacing: 20px;

// Homepage and section landings
$fixed-column-width: 300px;
$standard-spacer-height: 20px;

// Network Header
$tl-header-primary-color: $color-primary;
$tl-header-max-width: $row-width;
$tl-header-heading-font-weight: 400;

// Header heights
$header-height-small: 58px;
$header-height-medium-up: 221px;
$header-height-desktop: 221px;
$combined-header-height-desktop: 221px;
$header-banner-logo-height: 190px;
$header-banner-height-mobile: 58px;
$header-banner-height-medium-up: 175px;
$header-banner-height-large-up: 175px;
$header-menu-height-desktop: 46px;

$page-title-height: 121px;
$ad-wallpaper-top-pinned: $combined-header-height-desktop;
$ad-wallpaper-top-unpinned-90: -148px;  // top leaderBoard has 90 height
$ad-wallpaper-top-unpinned-250: -316px; // top leaderBoard has 250 height
$ad-wallpaper-top-unpinned-90-with-page-title: $ad-wallpaper-top-unpinned-90 + -$page-title-height;
$ad-wallpaper-top-unpinned-250-with-page-title: $ad-wallpaper-top-unpinned-250 + -$page-title-height;

// offcanvas (@bxm/nav)
$offcanvas-width: 255px;
$offcanvas-tablet-width: 450px;
$offcanvas-desktop-width: 450px;
$offcanvas-gutter-width: 0;
$offcanvas-background-color: $color-grey-darker;

// side-menu (legacy)
$side-menu-width: 255px;
$side-menu-width-small: $side-menu-width;
$side-menu-width-big: 450px;

// Transition
$transition-duration: 200ms;
$animation-timings: $transition-duration;

// Fade
$fade-duration: 750ms;

// Gallery
$gallery-color-primary: $color-primary;

// Footer
$footer-gap: 40px;

// Social share button
$facebook-share-color: #3B5999;
$pinterest-share-color: #D51D25;

// Block Grid Advanced Settings
$block-grid-elements: 12;
$block-grid-default-spacing: rem-calc(30);
// Removes column gutter so edges of block grid align with grid
$align-block-grid-to-grid: false;
// Enables media queries for block-grid classes. Set to false if writing semantic HTML.
$block-grid-media-queries: true;

// Global values
$teaser-image-border-radius: 3px;
