.social-subscribe-links {
    text-align: center;
    margin: 30px 0;
    padding: 0 20px;

    .home-section & {
        @media #{$small-only} {
            margin-top: 0;
        }
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    .social-links__links {
        height: 100px;        

        span {
            fill: #9b9b9b;
        }

        .social-link {
            padding-top: 15px;
        }

        .brand-section & {
            @media #{$medium-only} {
                float: left;
                width: 50%;
            }
        }
    }

    .social-links__text {
        @include type-newsletter-and-social-headers;
        margin-top: 15px;
    }
}

.magazine-subscribe {
    min-height: 275px;
    margin-bottom: 20px;

    @media #{$medium-only} {
        float: left;
        width: 50%;
        border-right: 1px solid $color-section-separator;
    }

    &__button {
        margin-top: 20px;
    }
}
