$color-brand-social-underline: #e5e5e5;

.brand-social {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 $column-gutter/2;
    text-align: center;

    @media #{$medium-up} {
        padding: 0;
        width: 300px;
    }

    p {
        @include type-underlined($color-brand-social-underline, 2px);
        font-size: 26px;
        line-height: 30px;
        margin: auto;
        padding: 0;
        text-align: center;

        span {
            display: block;
            z-index: $z-index-5;
        }

        b {
            font-size: 28px;
            position: relative;
            z-index: $z-index-5;
        }
    }
}

.brand-social__links {
    margin-top: -10px;
}
