@mixin brands-modal-button-hide($root: '.brands-modal-button') {
    #{$root} {
        display: none;
    }
}

.brands-modal-button {
  @include flat-button;
  display: flex;
  align-items: center;
  margin-top: 10px;

  @media #{$medium-up} {
    height: 100%;
    padding: 10px 0;
    margin-top: 0;
  }

  &__text {
    display: none;

    @media #{$medium-up} {
        @include type-header;
        display: block;
        color: $color-dark-green;
        flex: 0 0 auto;
        text-transform: capitalize;
        margin-left: 6px;
        margin-right: 5px;
        margin-bottom: 3px;
    }
  }

  &__icon-container {
    flex: 0 0 auto;
  }

  &__icon {
    fill: $color-dark-green;
    width: 28px;
  }

}


