.header-logo {   
    text-align: center;
    flex: 0 0 auto;
    display: flex;

    &__link-image {
        background-image: none;
        display: block;
        height: 100%;
        width: auto;
       
        @media #{$medium-up} {
           margin-left: 0;
           padding: 0;
       }
        
    &:hover {
           opacity: 0.75;
        }
    }

    .icon-logo {
        color: $color-primary;

        &:before {
            content: "\e900";
        }

        @media #{$small-only} {
            font-size: 30px;
            line-height: 32px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
        }
            
        @media #{$medium-up} {
            position: static;
            margin-left: 30px;
            font-size: 27px;
            line-height: 27px;
        }
    }
}
