$native-hub-color: $color-grey-darker;

.native-hub {
    @media #{$xlarge-up} {
        padding-bottom: $column-gutter * 2;
    }

    .teaser__title {
        @include type-xsmall-teaser-title;

        @media #{$medium-up} {
            @include type-small-teaser-title;
        }

        @media #{$xlarge-up} {
            @include type-teaser-title;
        }
    }

    .native-hub__button {
        margin-top: $column-gutter;
        margin-bottom: $column-gutter;

        @media #{$small-only} {
            margin-top: -3px;
            margin-bottom: 13px;
        }

        @media #{$medium-up} {
            margin-top: 0;
        }
    }
}

.native-hub__header-inner {

    h3 {
        font-size: 39px;
        background-color: $color-white;
        text-transform: uppercase;
        font-family: bree-serif, serif;
        font-weight: 400;
        letter-spacing: 2.8px;
        line-height: 39px;
        color: $native-hub-color;
        margin-top: 17px;

        @media #{$medium-up} {
            margin-top: 20px;
            letter-spacing: 4.8px;
            font-size: 52px;
            font-weight: 500;
            line-height: 55.2px;
            max-width: 90%;
            padding: {
                top: 24px;
                bottom: 1px;
                left: 40px;
                right: 40px;
            } ;
        }

        @media #{$large-up} {
            letter-spacing: 5.5px;
            font-size: 64px;
            padding-top: $column-gutter;
        }

        @media #{$xlarge-up} {
            padding-top: 26px;
            line-height: 63.25px;
        }
    }

    @media #{$large-up} {
        margin-top: -105px;
    }

    h1 {
        @include type-section-heading;

        @media #{$medium-up} {
            padding: {
                bottom: 1px;
                left: 40px;
                right: 40px;
            };
        }
    }
}

.native-hub__sponsor {
    margin-top: $column-gutter / 2;
}

.native-hub__teasers {

    margin-top: $column-gutter / 2;

    @media #{$medium-only} {
        padding-left: $column-gutter / 2;
        padding-right: $column-gutter / 2;
    }

    .teaser {

        .teaser__content {
            padding-bottom: 20px;
        }

        @include grid-column(6);
        @include teaser-img-top;

        &:nth-child(3) {
            clear: both;
        }

        @media #{$small-only} {
            &:nth-child(1),
            &:nth-child(3) {
                padding-left: $column-gutter / 2;
                padding-right: $column-gutter / 4;
            }

            &:nth-child(2),
            &:nth-child(4) {
                padding-left: $column-gutter / 4;
                padding-right: $column-gutter / 2;
            }
        }

        @media #{$medium-up} {
            @include teaser-tag-over-img;

            .teaser__summary {
                display: block;
            }
        }

        @media #{$large-up} {
            @include grid-column(3);
            &:nth-child(3) {
                clear: none;
            }
        }

        margin-bottom: 0;
    }
}
