.contact-card {
    $root: &;

    &__list {
        padding-top: $spacing-5;
        padding-left: 10%;
        padding-right: 10%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        text-align: center;

        @media #{$large-up} {
            padding-top: $spacing-36;
            text-align: left;
        }
    }

    &__list-item {
        display: flex;

        &--street-address {
            order: 1;
            margin-bottom: $spacing-8;

            @media #{$large-up} {
                order: 2;
                margin-bottom: $spacing-11;
            }
        }

        &--email {
            margin-bottom: $spacing-8;

            @media #{$large-up} {
                margin-bottom: $spacing-11;
            }
        }

        &--phone {
            order: 2;
            margin-bottom: $spacing-8;

            @media #{$large-up} {
                order: 3;
                margin-bottom: $spacing-11;
            }
        }

        &--web-address {
            order: 3;
            margin-bottom: $spacing-2;

            @media #{$large-up} {
                order: 1;
                margin-bottom: $spacing-11;
            }
        }
    }

    &__list-item-link {
        color: $listings-contact-link-color;
        text-decoration: none;
        transition: color 0.3s;

        &:hover, &:focus {
            color: $listings-contact-link-hover-color;
            text-decoration: none;
        }
    }

    &__list-item-icon {
        display: none;

        @media #{$large-up} {
            display: block;
            margin-right: $spacing-6;
        }
    }

    &__list-item-text {
        @include type-listings-copy-small;
        color: $color-listings-black-1;
        margin-top: -3px;
        width: 100%;
    }

    &--in-listing-card {

        #{$root}__list {
            padding: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            transform: translate(-50%, -50%);
            text-align: left;
        }

        #{$root}__list-item {
            margin-bottom: 11%;
            margin-top: 0;

            &--email {

                #{$root}__list-item-icon {
                    margin-top: -3px;

                    @media #{$medium-up} {
                        margin-top: 0;
                    }
                }
            }
        }

        #{$root}__list-item-icon {
            display: block;
            margin-right: $spacing-2;

            @media #{$large-up} {
                margin-right: $spacing-6;
            }

            svg {
                width: 15px;
            }
        }

        #{$root}__list-item-text {
            font-size: 13px;
            line-height: 20px;

            @media #{$medium-up} {
                font-size: 14px;
                line-height: 25px;
            }
        }
    }
}
