.directory-home {
    max-width: 100%;
    min-height: calc(100vh - $directory-combined-header-height-mobile);
    margin: 0 auto;
    padding: {
        top: $directory-combined-header-height-mobile;
        left: 0;
        right: 0;
    }    

    @media #{$medium-up} {
        padding-top: $directory-combined-header-height-desktop;
        min-height: calc(100vh - $directory-combined-header-height-desktop);
    }

    &__list {
        padding-left: 0;
        list-style-type: none;

        @media #{$large-up} {
            max-width: 1920px;
        }
    }
}
