.listing-footer {
  background-color: $color-lighter-grey2;
  padding-top: 15px;
  position: relative;

  @media #{$medium-up} {
    padding: 50px 0;
  }

    &__social {
        text-align: center;
        margin-bottom: 70px;

        @media #{$medium-only} {
            margin-bottom: 30px;
            padding-bottom: 65px;
        }

        @media #{$large-up} {
            margin-bottom: 30px;
            padding-top: 117px;
        }

        &:before {
            display: none;

            @media screen and (min-width: 1200px) {
                display: block;
                content: '';
                width: 1px;
                height: 250px;
                border-left: solid 1px $color-lighter-grey3;
                position: absolute;
                right: 0;
                top: 20px;
            }
        }
    }

    &__link-row {
        max-width: 100%;
        margin-top: 45px;

        @media #{$medium-up} {
            margin-top: 30px;
        }

        @media #{$large-up} {
            margin-top: 20px;
        }
    }

    &__copyright-row {
        text-align: center;

        @media #{$medium-up} {
            text-align: right;
            position: absolute;
            right: 15px;
            bottom: 2px;
            margin-top: 40px;
        }
    }

    &__copyright-text {
        color: $color-grey-darker;
        font: 400 10px/1.5 $font-family-sans-serif-secondary;
    }

    &__logo {
        font-size: 36px;
        margin-left: 30px;
    }

    &__logo-link {
        display: block;

        &::before {
          position: absolute;
          content: '';
          height: 25px;
          margin: 0;
          padding: 0;
          width: 2px;
          bottom: 30px;
        }
    }

    .icon-logo {
        color: $color-grey-darker;

        &:before {
            content: "\e900";
        }

        font-size: 45px;
        line-height: 32px;
        position: absolute;
        left: 40%;
        transform: translate(-50%, -50%);

        @media #{$medium-up} {
            position: static;
            margin-left: 30px;
            font-size: 105px;
            line-height: 27px;
        }
    }

}
