$teaser-icon-circle-diameter-default: 76px;

.teaser__icon {
    $icon-size: 22px;
    $icon-padding: 3px;

    bottom: -1px;
    height: $teaser-icon-circle-diameter-default/2;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: $teaser-icon-circle-diameter-default/2;

    &:before {
        background-color: $color-white;
        border-radius: $teaser-icon-circle-diameter-default/2;
        bottom: -$teaser-icon-circle-diameter-default/2;
        content: ' ';
        display: block;
        height: $teaser-icon-circle-diameter-default;
        left: -$teaser-icon-circle-diameter-default/2;
        position: absolute;
        width: $teaser-icon-circle-diameter-default;
    }

    svg {
        bottom: 0;
        fill: $color-primary;
        left: 2px;
        position: absolute;
        width: 20px;
    }

    .icon-video {
        bottom: 2px;
        left: 0px;
    }
}
