/*
========== How this file works ===========
    due to the dynamic nature of our teasers,
    we need a solution that lets us adapt the ui to different breakpoints
    extending classes isn't possible within media queries,
    so each modifier has a mixin atatched so it's possible
    to shift the style of the teaser based on where it's used.

    any modifier applied to .teaser needs to have an associated mixin for this purpose.
============================================

    ie:

    .some-page {
        .some-page__teaser {
            @include teaser-img-left;

            @media #{$medium-up} {
                @include teaser-img-top;
                @include teaser-hide-details;
            }
        }

    }
*/




// ---------------------------------------------------- teaser mixins

@mixin teaser-hide-details($root: '.teaser') {
    .tag-separator,
    .tag-secondary,
    #{$root}__summary,
    #{$root}__source {
        display: none;
    }
}

@mixin teaser-hide-secondary-tag($root: '.teaser') {
    .tag-separator,
    .tag-secondary {
        display: none;
    }
}

@mixin teaser-hide-source($root: '.teaser') {
    #{$root}__source {
        display: none;
    }
}

@mixin teaser-hide-summary($root: '.teaser') {
    #{$root}__summary {
        display: none;
    }
}

@mixin teaser-show-secondary-tag($root: '.teaser') {
    .tag-separator,
    .tag-secondary {
        display: inline;
    }
}

@mixin teaser-title-config($root: '.teaser') {
    #{$root}__title {
        @include type-hero-title;

        @media #{$medium-up} {
            @include type-small-teaser-title;
        }
    }
}

@mixin teaser-brand-title-config($root: '.teaser') {
    #{$root}__title {
        @include type-hero-title;

        @media #{$medium-up} {
            @include type-brand-small-teaser-title;
        }
    }
}

@mixin teaser-show-summary-source($root: '.teaser') {
    #{$root}__summary,
    #{$root}__source {
        display: block;
    }
}

@mixin teaser-show-source($root: '.teaser') {
    #{$root}__source {
        display: inline;
    }
}

@mixin teaser-show-summary($root: '.teaser') {
    #{$root}__summary {
        display: inline;
    }
}

@mixin teaser-img-left($root: '.teaser') {
    .tag-separator,
    .tag-secondary {
        display: none;
    }

    #{$root}__image,
    #{$root}__content {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }

    #{$root}__content {
        padding-left: $column-gutter / 2;
    }

    #{$root}__tags {
        margin-bottom: 5px;
    }
}

@mixin teaser-img-top($root: '.teaser') {
    padding-left: 0;
    padding-right: 0;

    @media #{$medium-up} {
        padding-left: 15px;
        padding-right: 15px;
    }

    #{$root}__source {
        margin-left: 0;
    }

    #{$root}__content {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;

        @media #{$medium-up} {
            padding-left: 0;
            padding-right: 0;
            padding-top: 15px;
        }
    }

    .tag-separator,
    .tag-secondary {
        display: none;
    }

    #{$root}__image,
    #{$root}__content {
        display: block;
        width: 100%;
        text-align: center;
    }

    #{$root}__image {

        @media #{$medium-up} {

            img {
                border-radius: $teaser-image-border-radius;
            }
        }
    }

    #{$root}__tags {
        margin-bottom: 5px;
    }
}

@mixin teaser-tag-over-img($root: '.teaser') {
    #{$root}__image {
        width: auto;
        z-index: $z-index--teaser-image;
    }

    #{$root}__content {
        background: $color-white;
        padding: 0 20px 25px;
        text-align: center;
        width: auto;
        z-index: $z-index--teaser-content;
    }

    #{$root}__tags {
        background: $color-white;
        display: inline-block;
        margin: 11px 0 10px;
    }
}

@mixin teaser-hero($root: '.teaser') {
    margin-bottom: 30px;
    overflow: visible;
    padding-left: 0;
    padding-right: 0;

    @media #{$large-up} {
        padding-left: 15px;
        padding-right: 15px;
    }

    #{$root}__image {

        @media #{$medium-up} {

            img {
                border-radius: $teaser-image-border-radius;
            }
        }
    }

    #{$root}__brand-image {
        display: none;

        @media #{$medium-up} {
            display: block;
            height: 25px;
            max-width: 85px;
            margin: 10px;
        }

        // Workaround so logos display correctly on IE 11
        &--belle {
            height: 22px;
            margin: 11px;
        }

        &--realliving {
            height: 20px;
            margin: 12px;
        }

        &--houseandgarden {
            height: 22px;
            margin: 11px;
        }

        &--insideout {
            height: 20px;
            margin: 12px;
        }

        &--countrystyle {
            height: 18px;
            margin: 13px;
        }
    }

    #{$root}__title {
        @include type-hero-title;
        padding: 5px 10px;
        font-weight: bold;
        font-size: 18px;

        @media #{$medium-up} {
            @include type-small-teaser-title;
        }
    }

    #{$root}__content {
        background: $color-white;
        position: absolute;
        bottom: 6px;
        width: 94%;
        right: 3%;
        min-height: 60px;
        z-index: $z-index--teaser-content;

        @media #{$medium-up} {
            width: 76%;
            padding: 15px;
            left: 8%;
            bottom: 6px;
            text-align: center;
        }

        @media #{$large-up} {
            width: 75%;
            left: 4%;
            bottom: 10px;
        }
    }

    #{$root}__tags {
        @media #{$medium-up} {
            margin-bottom: 6px;
            margin-top: 0;
            padding-top: 0;
        }
    }

    #{$root}__summary {
        display: none;
    }

    #{$root}__source {
        display: none;
    }

    .tag-separator,
    .tag-secondary {
        display: inline;
    }

    @media #{$xlarge-up} {
        margin-bottom: $column-gutter * 2;
    }

    .hero__background {
        background-color: $color-darker-green;
        width: 90%;
        position: absolute;
        right: 0;
        bottom: -6px;
        max-height: 66px;
        height: 100%;
        z-index: $z-index--hero-background;

        @media #{$medium-up} {
            height: 100%;
            width: 86%;
            max-height: 45px;
            right: 0;
            bottom: -6px;
            display: flex;
            justify-content: flex-end;
        }

        @media #{$large-up} {
            height: 100%;
            max-height: 45px;
            bottom: -10px;
            right: 5px;
        }
    }
}

@mixin teaser-narrow($root: '.teaser') {

    #{$root}__image {
        width: auto;
        z-index: $z-index--teaser-image;
    }

    #{$root}__content {
        background: $color-white;
        padding: 0 20px 25px;
        text-align: center;
        width: auto;
        z-index: $z-index--teaser-content;
    }

    #{$root}__tags {
        background: $color-white;
        display: inline-block;
        margin: 11px 0 10px;
    }

    @media #{$medium-up} {
        margin-bottom: 40px;
    }

    #{$root}__image {
        display: block;
        max-height: 160px;
        overflow: hidden;
    }

    #{$root}__title {
        @include type-stacked-small-teaser-title;

        @media #{$medium-up} {
            @include type-stacked-small-teaser-title;
        }

        @media #{$xlarge-up} {
            @include type-stacked-teaser-title;
        }
    }

    #{$root}__tags {
        margin-bottom: 8px;
    }

    #{$root}__content {
        padding-bottom: 0;
    }

    #{$root}__summary,
    #{$root}__source {
        display: none;
    }

    .tag-separator,
    .tag-secondary {
        display: none;

        @media #{$xlarge-up} {
            display: inline;
        }
    }
}

@mixin teaser-native($root: '.teaser') {
    #{$root}__icon svg {
        fill: $color-grey-dark;
    }

    #{$root}__tags {
        color: $color-grey-dark;
    }
}

@mixin teaser-polar($root: '.polar') {
    img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: none;
    }

    a {
        height: 0;
        padding-bottom: 83%;
        overflow: hidden;
    }

    &.polar--horizontal {

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: initial;
            max-height: none;
        }
    }
}


@mixin teaser-featured-brands($root: '.teaser') {
    @include teaser-hide-source;
    @include teaser-hide-summary;
    #{$root} {
        padding: 0;
        margin: 0;
    }

    #{$root}__title-background {
        @include type-stacked-teaser-title;
        background-color: white;
        height: 90px;
    }

    #{$root}__title {
        color: $color-black-origin;
        padding: 14px 10px 0 10px;
        font: 700 18px/1.22 $font-family-serif-primary;
    }

    #{$root}__image {
        min-height: 79vw;
        @media #{$medium-up} {
            min-height: 186px;
        }
    }

    #{$root}__content {
        margin-top: -12px;
        position: relative;
        padding: 0 12px 12px 0;
    }
}

.teaser {
    $root: &;
    margin-bottom: 20px;
    position: relative;

    @media #{$large-up} {
        margin-bottom: 40px;
    }

    @media #{$xlarge-up} {
        margin-bottom: $column-gutter;
    }

    &__image {
        display: block;
        position: relative;
        transition: opacity .1s ease-out;

        img {
            height: auto;
            width: 100%;
        }

        &:hover,
        &:focus {
            opacity: .85;
        }

    }

    &__tags {
        @include type-tags($color-primary);
    }

    &__title {
        @include type-xsmall-teaser-title;
        margin-bottom: 10px;

        a {
            color: $color-black-origin;
            text-decoration: none;
            transition: color .1s ease-in;

            &:hover,
            &:focus {
                color: $color-grey-dark;
            }
        }

        @media #{$medium-up} {
            margin-bottom: 12px;
        }

    }

    &__summary {
        @include type-teaser-summary;
        margin-bottom: 10px;

        @media #{$large-up} {
            margin-bottom: 7px;
        }
    }

    &__source {
        @include type-tags;
        line-height: 2;
    }

    &__source-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__source-image {
        max-height: 15px;
        max-width: 85px;
    }

    &__source-timestamp {
        font-size: 10px;
        font-weight: 400;
        font-family: $font-family-sans-serif-secondary;
        color: $color-grey-light-level-1;
        vertical-align: middle;
        margin: 0 5px;
    }

    // modifiers

    &--img-left {
        @include teaser-img-left;
    }

    &--img-top {
        @include teaser-img-top;
    }

    &--hero {
        @include teaser-hero;
    }

    &--hero-img-top {
        @include teaser-img-top;
    }

    &--narrow {
        @include teaser-narrow;
    }

    &--native {
        @include teaser-native;
    }

    &--polar {
        @include teaser-polar;
    }

    &--hide-source {
        @include teaser-hide-source;
    }

    &--hide-summary {
        @include teaser-hide-summary;
    }
}



