$color-gallery-caption: #000;

@mixin content-body-width() {
    margin: 0 auto;
    width: $content-body-small-width;

    @media #{$medium-up} {
        width: $content-body-medium-width;
    }
    @media #{$large-up} {
        width: $content-body-large-width;
    }
    @media #{$xlarge-up} {
        width: $content-body-xlarge-width;
    }
}

.content-body-width {
    @include content-body-width();
}

@mixin content-expanded-width() {
    margin: 0 auto;
    width: $content-expanded-small-width;

    @media #{$medium-up} {
        width: $content-expanded-medium-width;
    }
    @media #{$large-up} {
        width: $content-expanded-large-width;
    }
    @media #{$xlarge-up} {
        width: $content-expanded-xlarge-width;
    }
}

.content-expanded-width {
    @include content-expanded-width();
}

@mixin caption-over-image() {
    position: relative;

    img {
        height: auto;
        width: 100%;
    }

    figcaption {
        @include type-teaser-summary();
        background-color: $color-black;
        color: $color-grey-light;
        padding: $column-gutter/2;
        text-align: left;

        @media #{$medium-up} {
            padding: 25px 50px;
            text-align: center;
        }

        @media #{$xlarge-up} {
            padding: {
                left: 15%;
                right: 15%;
            }
        }
    }
}

.caption-over-image {
    @include caption-over-image();
}

@mixin content-body-lists {
    ul,
    ol {
        padding-bottom: 10px;
        padding-left: 0;
    }

    ul {
        margin-left: 20px;
    }

    ol {
        margin-left: 25px;
    }

    li {
        margin-bottom: $column-gutter/2;
    }
}
