.testimonial-section {
    padding-bottom: $spacing-27 + 2px;

    @media #{$large-up} {
        background-color: $color-listings-grey-14;
    }

    &__title-column {
        text-align: center;
        padding-top: $spacing-20;
        padding-bottom: $spacing-9;
    }
}
