.gallery__aside {

    @media #{$small-only} {
        padding-left: 0;
        padding-right: 0;
    }

    .gallery__subsection a {
        @include gallery-paddings;
        color: $color-primary;
        font-family: $font-family-sans-serif-primary;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: .04em;
        padding: 0;
        text-transform: uppercase;

        &:hover,
        &:focus {
            color: $color-primary-light;
        }
    }

    .gallery__summary {
        p {
            font-size: 14px;
        }
    }

    .gallery__date {
        display: none;
    }

    .gallery__summary-text {
        padding-right: 5px;

        p {
            letter-spacing: .01em;
            line-height: 1.75;

            @media #{$medium-only} {
                font-size: 16px;
                line-height: 1.875;
            }

            @media #{$large-up} {
                line-height: 1.9;
            }
        }
    }

    .content-body {
        margin: 0;
        width: auto;

        p {
            padding-top: 0;
        }
    }
}
