// scss-lint:disable LeadingZero, PropertySortOrder
.gallery__header {
    $ipad-only: '#{$screen} and (min-width:1024px) and (max-width:1024px)' !default;
    $header-height: 65px;
    box-shadow: none;
    border-bottom: 1px solid $line-color;

    .gallery__logo {
        float: left;
        font-size: 1.7em;
        line-height: $header-height;
        padding: 0 0 0 15px;

        .icon-logo {
            background-image: url('/assets/images/logo/homes-logo-mobile.svg');
            background-repeat: no-repeat;
            background-size: 115px 35px;
            display: inline-block;
            height: 35px;
            margin: 0 3px;
            vertical-align: middle;
            width: 115px;

            @media #{$medium-up} {
                background-image: url('/assets/images/logo/homes-logo-tablet.svg');
                background-size: 287px 23px;
                height: 23px;
                width: 287px;
            }
        }
    }

    .gallery__title {
        @include type-gallery-header;

        margin: 0 0 0 35px;
        float: left;

        @media #{$large-up} {
            line-height: 72px;
            box-sizing: border-box;
            overflow: hidden;
            padding: 0 390px 0 300px;
            position: absolute;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            z-index: -1;
        }

        @media #{$ipad-only} {
            letter-spacing: .01em;
            font-size: 20px;
            margin: 2px 0 0 35px;
        }
    }

    .gallery__slide-count {
        font-family: $font-family-sans-serif-primary;
        font-size: 15px;
        color: $color-grey-darker;
        white-space: nowrap; // fixes issue with font, sometimes wrapping text on newline
    }
}
