.gallery__main {
    .gallery__title {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4;
    }
}

.gallery__slide {
    .gallery__slide-swipe-indicator {
        font-family: $font-family-sans-serif-primary;
    }
}
