.gallery__next-container {
    h2 {
        font-weight: 400;
    }

    h5 {
        color: $color-grey-darker;
        font-family: $font-family-sans-serif-primary;
        font-weight: 500;
    }

    .button {
        border-radius: 0;
    }

    .gallery__next-number-of-pic {
        color: $color-primary;
        font: 500 11px/1.5 $font-family-sans-serif-primary;
    }
}
